.ant-form-item {
    margin-bottom: 4px;
}

.ant-card-extra {
    padding: 2px;
}

.ant-alert-action {
    margin-top:60px
}

.ant-card-head {
    display: flex;
    justify-content: end;
}

// .ant-card-body {
//    padding:10px
// }

.card-item {
    max-width: 220px; margin: auto; position: relative
}

.cart__form-header {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    padding-left: 15px;
}

    .ant-alert-with-description {
         padding: 2px;
    }

    .ant-alert {
        padding: 0px;
    }
